@media (min-width: 1440) {
 
    #home #containerHome #textoHome .tituloSuperior{
        font-size: 1rem;
    }
    #home #containerHome #textoHome h1 {
        font-size: 2rem;
    }


    /*duvidas*/
    #duvidas #containerPrincipal #containerEsquerda h1 {
        font-size: 2.4rem;
    }
}