#rodape{
  width: 100%;
  background-color: #FEF6F7;
  display: flex;
  flex-direction: column;
}


#containerRodape{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  padding: 30px;
  padding: 5em 0;
  font-family: var(--font-principal);
}

#containerRodape #containerEsquerdaRodape{
  width: 50%;
}
#containerRodape #containerEsquerdaRodape > h1{

  font-size: 2em;
  font-weight: 500;
}

#containerRodape #containerEsquerdaRodape > p{
  color: var(--color-terceira);
  width: 70%;
  height: 100%;
}


#containerDireitaRodape{
  width: 50%;
}

#containerRedesSociais{
  border-top: solid 1px var(--color-principal);
  width: 100%;  
  padding: 30px;
}

#containerRedesSociais #container-footer{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}