@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{

    --font-principal: "Poppins";
    --color-principal: #f19999;
    --color-base: #f2dbdb;
    --color-secundaria: #fef6f7;
    --color-terceira: #585758;
    --color-quertenario: #6d8ff6;
}
/*Estilização de Cabeçalho */

html{
    scroll-behavior: smooth;
}

#cabecalho{
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    background-color: var(--color-secundaria);
}

#botoesMenu{
    margin: auto;
    width: 50%;
    font-family: var(--font-principal);
}

#botoesMenu ul{
    display: flex;
    justify-content: space-evenly;
}

#botoesMenu ul li{
    list-style: none;
    align-items: center;
}

#botoesMenu ul li a{
    text-decoration: none;
    color: var(--color-terceira);
}

#botoesMenu ul li a:hover{
    color: black;
    transition: 0.4s;
}
/*Estilização de Página Home*/

#home{
    margin: auto;
    width: 100%;
    display: flex;
    background-color: var(--color-secundaria);
    align-items: center;
    justify-content: center;
}

#home #containerHome, #conteinerSobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
}

#home #containerHome #textoHome, #imagemHome{
    width: 40%;
}
#home #containerHome #textoHome{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: var(--font-principal);
}
#home #containerHome #imagemHome{
    display: flex;
    align-items: center;
    justify-content: center;
}

#home #containerHome #textoHome .tituloSuperior{
    font-size: 1.1em;
    color: var(--color-terceira);
}

#home #containerHome #textoHome h1{
    font-size: 4em;
    letter-spacing: 3px;
    color: var(--color-principal);
}

#home #containerHome #textoHome .subTexto{
    font-size: 1.1em;
    color: var(--color-terceira);
}

/*Estilização de Botão de chamada do Home*/

#home #containerHome #textoHome a button{
    margin-top: 15px;
    width: 240px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--color-base);
    font: var(--font-principal);
    border: 1px solid var(--color-terceira);
    
}

#home #containerHome #textoHome a button{
    text-decoration: none;
    color: var(--color-terceira);
}


#home #containerHome #textoHome a button:hover{
    background-color: var(--color-principal);
    color: white;
    transition: 0.4s;
    border: solid 1px rgb(125, 125, 202);
}


/*Estilização da área de Sobre mim*/
/*Animation Slid*/
#sobre{
    display: flex;
    width: 100%;

}

#slideFotos {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slid {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .slid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slid.active {
    opacity: 1;
    z-index: 1;
  }


#sobre  #conteinerSobre{
    
}

#sobre  #conteinerSobre #textoSobre{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-principal);
} 
  

/*Areas de Textos do sobre */
#sobre #conteinerSobre #textoSobre #textos{
    width: 75%;
    height: 75%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;

}

#sobre  #conteinerSobre #textoSobre #textos span{
    color: var(--color-quertenario);
}

#sobre  #conteinerSobre #textoSobre #textos h1{
    font-size: 2.2em;
    color: var(--color-terceira);
}

#sobre  #conteinerSobre #textoSobre #textos div{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--color-principal);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#sobre  #conteinerSobre #textoSobre #textos p{
    font-size: 1.1em;
}

#sobre  #conteinerSobre #textoSobre #textos h3{
    color: var(--color-terceira);
}


#sobre  #conteinerSobre #textoSobre #textos a button{
    height: 50px;
    width: 320px;
    border-radius: 25px;
    border: none;
    background-color: var(--color-principal);
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}


/*Estilização de Botão de Download de CV*/

#sobre  #conteinerSobre #textoSobre #textos a button:hover{
    background-color: var(--color-secundaria);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    transition: 0.4s;
}


/*Estilização das especialidades*/

#especialidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-principal);
}

#especialidades #HeaderEspeci{
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: end;
    flex-direction: column;

}

#especialidades #HeaderEspeci span{
    font-size: 1.1em;
    color: var(--color-principal);
    font-weight: 600;
    letter-spacing: 3px;
}

#especialidades #HeaderEspeci h1{
    font-size: 2em;
    width: 40%;
    text-align: center;
}


#especialidades #especi{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#especialidades #especi #ariaDeEspecialidades{
    width: 20%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#especialidades #especi #ariaDeEspecialidades #icon{
    width: 60px;
    height: 60px;
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

#especialidades #especi #ariaDeEspecialidades #icon span{
    font-size: 50px;
    color: white;
    color: white;
}
 

#especialidades #especi #ariaDeEspecialidades #textos h3{
    font-size: 1.54em;
}

#especialidades #especi #ariaDeEspecialidades #textos p{
    font-size: 0.9em;
}


/*animação do card*/
@keyframes animacaoCard {
    
    0%{
        
         
    } 100% {
        background-color:  var(--color-principal);
        color: var(--color-secundaria);
    }

    
}


#especialidades #especi #ariaDeEspecialidades:hover{
    cursor: pointer;
    animation: animacaoCard 0.5s;
    animation-fill-mode:forwards
}
#especialidades #especi #ariaDeEspecialidades:hover #icon span{
    background-color: var(--color-secundaria);
    color: var(--color-principal);
    padding: 4px;
    border-radius: 10px;
    transition: 0.5s;
}


/*Estilização do footer da Especialidades*/

#footEspecialidades{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}


#footEspecialidades a button{
    width: 238px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: var(--color-principal);
    font-size: 1em;
    color: white;  
    margin-top: 15px;  
}

#footEspecialidades a button:hover{
    background-color: white;
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    transition: 0.8s;
    cursor: pointer;
    font-weight: 500;

}


/*Estilização dos testemunhos*/


#testemunhos{
    font-family: var(--font-principal);
    width: 100%;
    display: flex;
    flex-direction: column;
}

#testemunhos #headerTestemunhos{
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

#headerTestemunhos span{
    font-size: 1.1em;
    color: var(--color-principal);
    font-weight: 600;
    letter-spacing: 3px;
}

#headerTestemunhos h1{
    font-size: 2em;
    width: 40%;
    text-align: center;
}

#testemunhos #containerComentarios{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#testemunhos #containerComentarios #comentarios{
    width: 70%;
    height: 90%;
    margin: auto;
    display: flex;
    align-items: top;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.comentarios::-webkit-scrollbar {
    display: none; 
  }

#testemunhos #containerComentarios #comentarios #comentario{
    flex-direction: column;
    background-color: var(--color-secundaria);
    border-radius: 35px 35px 0px 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 35%;
    height: 40%;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    margin: 60px 30px;

}

#testemunhos #containerComentarios #comentarios #comentario .numero{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-quertenario);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: absolute;
    top: -25px;
    left: 45%;
}

#testemunhos #containerComentarios #comentarios #comentario .texto {
    width: 90%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

#perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    position: relative;
    top: 90px;   
}

#perfil .foto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(media/icones/icone-perfil.webp);
    background-position: center;
    background-size: cover;
    outline: 8px solid var(--color-quertenario);
    position: relative;
    top: -15px;
    

}
