:root{

    --font-principal: "Poppins";
    --color-principal: #f19999;
    --color-base: #f2dbdb;
    --color-secundaria: #fef6f7;
    --color-terceira: #585758;
    --color-quertenario: #6d8ff6;
    --color-quinto: #000000;
}